<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="TestNG.DemoTest"/>
      <class name="TestNG.Practice_Test"/>
      <class name="TestNG.ApplyTestB"/>
      <class name="TestNG.DataProviderExcel_Test"/>
      <class name="TestNG.CheckedTest"/>
      <class name="TestNG.DataProvider_Test2"/>
      <class name="TestNG.SoftAssert_Test"/>
      <class name="TestNG.Annotation_Test"/>
      <class name="TestNG.CreateC"/>
      <class name="TestNG.SampleTest"/>
      <class name="TestNG.executeTestA"/>
      <class name="TestNG.DpExcelExceution_Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
